<!DOCTYPE html>
<html>

<head>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<link rel="stylesheet" href="homecomponent.component.css">
</head>

<body>
</body>
<script src="script.js" defer></script>

</html>


<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Abnormal Loads <br />
            <span style="color: hsl(218, 81%, 75%)">System</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Welcome to the Abnormal Vehicle Permits Systems Home Page. Enter your Vehicle Details.
          </p>
        </div>
		
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form>

				<div class="progress-style">
					<div class="row justify-content-center">
						<div class="col-11 col-sm-9 col-md-7
							col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
							<div class="px-0 pt-4 pb-0 mt-3 mb-3">
								<form id="form">
									<ul id="progressbar">
										<li class="active" id="step1">
											<strong>Step 1</strong>
										</li>
										<li id="step2"><strong>Step 2</strong></li>
										<li id="step3"><strong>Step 3</strong></li>
										<li id="step4"><strong>Step 4</strong></li>
									</ul>
									<div class="progress">
										<div class="progress-bar"></div>
									</div> 
									<fieldset>
										<h4>Vehicle/Ld Details</h4>
										<!-- Vehicle Checkbox -->
										<div class="grid-container">

											<div class="grid-item" >
												<input class="" type="checkbox" value="" id="form2Example33" />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item" >
												<label class="" for="form2Example33" >
												  laden
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>

											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>

											<div class="grid-item">
												<label class="" for="form2Example33" >
												  Unladen
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												  Crane
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												   Registered/ Pre-Calculated/ PBS
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
										</div>
										<br/>
										
										<div class="grid-container">

											<div class="grid-item" >
												<input class="" type="checkbox" value="" id="form2Example33" />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item" >
												<label class="" for="form2Example33" >
												  E/C/A
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>

											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>

											<div class="grid-item">
												<label class="" for="form2Example33" >
												  Container
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												  Emergency
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												   Car Carrier
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												   SC
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<input class="" type="checkbox" value="" id="form2Example33"  />
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
											<div class="grid-item">
												<label class="" for="form2Example33" >
												   PBS
												</label>
												&nbsp;&nbsp;&nbsp;&nbsp;
											</div>
										</div>


<!--										 Email input
										<div class="form-outline mb-4">
											<input type="email" id="form3Example3" class="form-control" />
											<label class="form-label" for="form3Example3">Email address</label>
										  </div>
							
										  Password input 
										  <div class="form-outline mb-4">
											<input type="password" id="form3Example4" class="form-control" />
											<label class="form-label" for="form3Example4">Password</label>
										  </div>
							
										   Checkbox 
										  <div class="form-check d-flex justify-content-center mb-4">
											<input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
											<label class="form-check-label" for="form2Example33">
											  Subscribe to our newsletter
											</label>
										  </div>-->
										<input type="button" name="next-step"
											class="next-step" value="Next Step" />
									</fieldset>
									<fieldset>
										<h2>Welcome To GFG Step 2</h2>
										<input type="button" name="next-step"
											class="next-step" value="Next Step" />
										<input type="button" name="previous-step"
											class="previous-step"
											value="Previous Step" />
									</fieldset>
									<fieldset>
										<h2>Welcome To GFG Step 3</h2>
										<input type="button" name="next-step"
											class="next-step" value="Final Step" />
										<input type="button" name="previous-step"
											class="previous-step"
											value="Previous Step" />
									</fieldset>
									<fieldset>
										<div class="finish">
											<h2 class="text text-center">
												<strong>FINISHED</strong>
											</h2>
										</div>
										<input type="button" name="previous-step"
											class="previous-step"
											value="Previous Step" />
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
                <!-- 2 column grid layout with text inputs for the first and last names 
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>
  
                 Email input 
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
  
                 Password input 
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
  
                Checkbox 
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>
  
                Submit button 
                <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/home" routerLinkActive="active">
                  Sign in
                </button>
  
             Register buttons 
                <div class="text-center">
                  <p>Don't have an account?</p>
                  <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/registration" routerLinkActive="active">
                    Sign up
                  </button>
                </div>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->